@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@700&display=swap');
.collapse {
    display:flex;
    
    

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand{
    padding-left: 20px;
}
#title{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;


    color: #fff;
    opacity: 1;
    padding-bottom: 140px;


}

h1{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    size: 5rem;
    line-height: 1.8;

    
}
#mid{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    
}
.container{
    padding: 3% 10%;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 8rem;
    line-height: 1.5;
    font-weight: bold;
    

}




.col-sm{
    border-width: 1px;
    border-radius: 2%;
    border-color:#f3acdb;
    border-style:solid;
    box-shadow: 3px 3px #bf2cc4;
    opacity: 0.9;

}
.col-sm:hover{
    opacity: 1;
    transform: scale(1.05 ,1.05);
}


.www{
    padding: 100px;
}
.www button{
    margin: 5% 3% 5% 0% ;
}
.image{
    
    
    padding: 10px;
    
    
    

}
.col-lg-6.image{
    position: relative;
    right: 0px;
    top: 20px;
    


    
    
    
}

    


.button-col , .col-sm{
   text-align: center;
   size: 100px;
   padding: 10px;
   display: block;
}
.button-col{
    color: #bf2cc4;
    
}

h3{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}
#features{
    padding: 7% 5%;
    position: relative;
    z-index: 1;
}
.carousel-item{
    padding: 7% 15%;
    display: block;
    justify-content: center;
    text-align: center;
}
#testimonials{
   

    color: #fff;
    font-size: xx-large;
    
}
.mid{
    
    padding-bottom: 3%;
    text-align: center;

}
.dog{
    width: 15%;
    border-radius: 80%;
    margin: 50px;
}


.logo{
    width: 15%;
    margin: 20px 20px 50px 50px;
}
.row{
    gap: 0px;
    padding: 10px;
}
.rows{
    gap:20px;
}
.pricing{
    padding: 40px;
}
.titlee{
    display: block;
    text-align: center;
    padding: 20px;
    font-size:xx-large;
}
.sub{
    text-align: center;
}
.card-space{
    padding-bottom: 30px;
}
.card:hover{
    opacity: 1 ;
    transform: scale(1.02 ,1.02);
    box-shadow: 2px 2px #6b6b6b;
}
.card{
    opacity: 0.9;
}
.card-body{
    text-align: center;
}
.card{text-align: center;}
.ro {
    display: block;
    margin: 0 auto;
    text-align: center;
    background :linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    padding: 180px;
    color: #fff;
    font-size: xx-large;
    
}
.foot{
    padding: 20px;
}
#foooter{
    padding: 80px;
    
    text-align: center;
}
#social-media{
    flex: 0 0 auto;
     width: 100%;
    
}
.soc{
    padding: 10px;
}
.buttt{
    box-shadow: 2px 2px #6b6b6b;
}
.press{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}